In [1]:
#Exercise 1:Print HELLO'WORLD in two lines

In [2]:
print('''HELLO'
      WORLD''')

HELLO'
      WORLD

In [3]:
#Exercise 2:Print the sum of the current number and the previous number

In [4]:
for i in range (0,11):
    print(f"Current Number {i} Previous Number  {i+1}  Sum:{i+(i+1)}  ")

Current Number 0 Previous Number  1  Sum:1
Current Number 1 Previous Number  2  Sum:3
Current Number 2 Previous Number  3  Sum:5
Current Number 3 Previous Number  4  Sum:7
Current Number 4 Previous Number  5  Sum:9
Current Number 5 Previous Number  6  Sum:11
Current Number 6 Previous Number  7  Sum:13
Current Number 7 Previous Number  8  Sum:15
Current Number 8 Previous Number  9  Sum:17
Current Number 9 Previous Number  10  Sum:19
Current Number 10 Previous Number  11  Sum:21

In [5]:
#Exercise 3:Print characters from a string that are present at an even index number

In [6]:
a=input("Enter any String \t")
for i in a[1:-1:2]:
    print(f"In this string every second word is {i}")

Enter any String 	SHASHANK DWIVEDI
In this string every second word is H
In this string every second word is S
In this string every second word is A
In this string every second word is K
In this string every second word is D
In this string every second word is I
In this string every second word is E

In [7]:
#Exercise 4: Remove first n characters from a string

In [8]:
a=input("Enter any String \t")
n=int(input("Remove first n characters from a string \t"))
print(a[n::1])

Enter any String 	SHASHANK DWIVDI
Remove first n characters from a string 	2
ASHANK DWIVDI

In [9]:
#Exercise 5: Check if the first and last number of a list is the same

In [10]:
a=[12,13,14,15,16,18,12]
if a[0]==a[-1]:
    print("True")
else:
    print("False")

True

In [11]:
#Exercise 6: Display numbers divisible by 5 from a list
#Given list is  [10, 20, 33, 46, 55]

In [12]:
a=[10, 20, 33, 46, 55]
for i in a :
    if i%5==0:
        print(i)

10
20
55

In [13]:
#Exercise 7: Return the count of a given substring from a string.
# x = "Emma is good developer. Emma is a writer"

In [14]:
x = "Emma is good developer. Emma is a writer"
x.count("Emma")

2

In [15]:
# Exercise 8: Print the following pattern
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5

In [16]:
for a in range(6):
    for i in range(a):
        print(a,end="  ")
    print("\n")

1

2  2

3  3  3

4  4  4  4

5  5  5  5  5

In [17]:
# Exercise 9: Check Palindrome Number
# Write a program to check if the given number is a palindrome number.

# A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [18]:
a=input("Guess Any No.")
number=int(a)
reverse_number= int(a[::-1])

if number==reverse_number:
    print(f"{number} is plaindrome no.")
else:
    print(f"{number} is not plaindrome no.")

Guess Any No.565
565 is plaindrome no.

In [19]:
# Exercise 10: Create a new list from a two list using the following condition

#Given a two list of numbers, write a program to create a new list such that 
#the new list should contain odd numbers from the first list and even numbers from the second list.

# list1 = [10, 20, 25, 30, 35]
# list2 = [40, 45, 60, 75, 90]

In [20]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
list3=[]
for i in list1:
    if i%2!=0:
        list3.append(i)
for i in list2:
    if i%2==0:
        list3.append(i)
print(list3)

[25, 35, 40, 60, 90]

In [21]:
# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

# For example, If the given int is 7536, the output shall be “6 3 5 7“, 
#with a space separating the digits.

In [22]:
number = 7536
print("Given number", number)
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit,end="  ")

Given number 7536
6  3  5  7

In [23]:
# Exercise 12: Calculate income tax for the given income by adhering to the below rules
# Taxable Income	Rate (in %)
# First 10,000	0
# Next 10,000	10
# The remaining	20

In [24]:
income=int(input("What is your annual income\t"))
if income<=10000:
    print("Your income tax is 0")
elif income<=20000:
    print("Your income tax is ",(income-10000)*10/100,sep=" ")
else:
    print("Your income tax is ",(income-10000)*10/100+(income-20000)*20/100,sep=" ")

What is your annual income	45000
Your income tax is  8500.0

In [25]:
#Exercise 13: Print multiplication table form 1 to 10
# 1  2 3 4 5 6 7 8 9 10 
# 2  4 6 8 10 12 14 16 18 20 
# 3  6 9 12 15 18 21 24 27 30 
# 4  8 12 16 20 24 28 32 36 40 
# 5  10 15 20 25 30 35 40 45 50 
# 6  12 18 24 30 36 42 48 54 60 
# 7  14 21 28 35 42 49 56 63 70 
# 8  16 24 32 40 48 56 64 72 80 
# 9  18 27 36 45 54 63 72 81 90 
# 10 20 30 40 50 60 70 80 90 100

In [26]:
for i in range(1,11):
    for a in range(1,11):
        print(a*i,end=" ")
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [27]:
#Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
# * * * * *  
# * * * *  
# * * *  
# * *  
# *

In [28]:
for i in range(5,0,-1):
    for a in range(i):
        print("*",end=" ")
    print("\t")

* * * * *
* * * *
* * *
* *
*

In [29]:
# Exercise 15: Write a function called exponent(base, exp) 
#that returns an int value of base raises to the power of exp.

In [30]:
def exponent(base,exp):
    print(base,"raises to the power of",exp,"is:",base**exp,sep=" ")
exponent(2,3)

2 raises to the power of 3 is: 8